<div class="wrapper">
    <div class="content">
        <h2>Login</h2>
        <div class="form">
            <form [formGroup]="form" (ngSubmit)="loginHandler()">
                <label for="email">Email: </label>
                <input type="text" id="email" formControlName="email" />
                @if (form.get('email')?.touched) {
                <div>
                    @if (form.get('email')?.errors?.['required']) {
                    <p class="error">Email is required</p>
                    }
                    @if (form.get('email')?.errors?.['pattern']) {
                    <p class="error">The email should be valid!</p>
                    }
                </div>
                }
                <label for="password">Password: </label>
                <input type="password" id="password" formControlName="password" />
                @if (form.get('password')?.touched) {
                <div>
                    @if (form.get('password')?.errors?.['required']) {
                    <p class="error">Password is required</p>
                    }
                    @if (form.get('password')?.errors?.['minlength']) {
                    <p class="error">The password should be at least 5 characters!</p>
                    }
                </div>
                }
                <button class="btn">Login</button>
            </form>
        </div>
    </div>
</div>