<div class="wrapper">
    <div class="item-container">
        <div class="title">{{caricature?.title|uppercase}}</div>
        <div class="description"> {{caricature?.description}}</div>
        <div class="img">
            <img src="{{caricature?.img}}">
        </div>
        <div class="price">Price: {{caricature?.price}}</div>
        @if(isLogged){
        <div class="btn" (click)="like(caricature?._id!)">Like</div>
        }
        <div class="likes">Likes : {{this.likes}}</div>
    </div>
</div>