.footer-container {
    background-color: rgb(66, 66, 97);
    color: white;
    padding-bottom: 1em;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1em;
    gap: 1em;
}

.title {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}